In [1]:
import pandas as pd
import contextlib
import wave
import glob
import pandas as pd
import contextlib
import wave
import glob
import os
from pydub import AudioSegment

In [2]:
#tal_words_episode_21_for_alona = pd.read_parquet("/home/eranbe/dharelg/datasets/all_05012023/tal_tagged_xy_table_chap21.parquet")
tal_words_episode_21_for_alona = pd.read_parquet("/home/eranbe/dharelg/datasets/all_05012023/tal_episode_21_tagged_xy_table_with_Prototype_id_next.parquet")

In [3]:
tal_words_episode_21_for_alona.columns

Index(['episode_id', 'start_time', 'word', 'word_id', 'text', 'xmin', 'xmax',
       'annotation_num', 'tier_name', 'speaker_id',
       ...
       'pitch_strength_norm_legendre1', 'pitch_strength_norm_legendre2',
       'pitch_strength_norm_legendre3', 'speech_rate', 'pre_word_silence',
       'speech_rate2', 'past_split_id', 'Prototype_id_next',
       'Prototype_tagged_chain_id', 'Prototype_tagged_chain_prototype_count'],
      dtype='object', length=389)

In [4]:
tal_words_episode_21_for_alona.head()

,episode_id,start_time,word,word_id,text,xmin,xmax,annotation_num,tier_name,speaker_id,...,pitch_strength_norm_legendre1,pitch_strength_norm_legendre2,pitch_strength_norm_legendre3,speech_rate,pre_word_silence,speech_rate2,past_split_id,Prototype_id_next,Prototype_tagged_chain_id,Prototype_tagged_chain_prototype_count
0,21.0,0.07,It,0.0,it,0.07,0.16,0.0,words,Ira Glass,...,0.665513,0.512409,0.467962,0.060,0.07,16.666667,Ira Glass_0.07,13,NaN,NaN
1,21.0,0.07,is,1.0,is,0.16,0.29,1.0,words,Ira Glass,...,0.473285,0.619622,0.578478,0.075,0.00,13.333333,Ira Glass_0.07,13,NaN,NaN
2,21.0,0.07,an,2.0,an,0.29,0.41,2.0,words,Ira Glass,...,0.494785,0.493054,0.551494,0.100,0.00,10.000000,Ira Glass_0.07,13,NaN,NaN
3,21.0,0.07,old,3.0,old,0.41,0.73,3.0,words,Ira Glass,...,0.629611,0.709770,0.781509,0.150,0.00,6.666667,Ira Glass_0.07,13,NaN,NaN
4,21.0,0.07,old,4.0,old,0.73,0.92,4.0,words,Ira Glass,...,0.610469,0.601627,0.657682,0.075,0.00,13.333333,Ira Glass_0.07,23,NaN,NaN

In [5]:
tal_words_episode_21_for_alona = tal_words_episode_21_for_alona[[ 'Prototype_tagged_chain_id',
 'word','Focus','xmin','xmax','Prototype','Prototype_id','episode_id']]

In [6]:
tal_words_episode_21_for_alona

,Prototype_tagged_chain_id,word,Focus,xmin,xmax,Prototype,Prototype_id,episode_id
0,NaN,It,None,0.07,0.16,C,0,21.0
1,NaN,is,None,0.16,0.29,C,0,21.0
2,NaN,an,None,0.29,0.41,C,0,21.0
3,NaN,old,None,0.41,0.73,C,0,21.0
4,NaN,old,None,0.73,0.92,D,13,21.0
...,...,...,...,...,...,...,...,...
8141,NaN,stories,None,3506.22,3506.57,D,43971,21.0
8142,NaN,of,None,3506.57,3506.63,D,43971,21.0
8143,NaN,This,None,3506.63,3506.79,D,43971,21.0
8144,NaN,American,None,3506.79,3507.20,D,43971,21.0
8145,NaN,Life,None,3507.20,3507.59,D,43971,21.0

In [7]:
tal_words_episode_21_for_alona.loc[tal_words_episode_21_for_alona['Prototype_tagged_chain_id'].notna(), 'Prototype_tagged_chain_id'] += 10000

In [8]:
tal_words_episode_21_for_alona.Prototype_tagged_chain_id.unique()

array([   nan, 10000., 10001., 10002., 10003., 10004., 10005., 10006.,
       10007., 10008., 10009., 10010., 10011., 10012., 10013., 10014.,
       10015., 10016., 10017., 10018., 10019., 10020., 10021., 10022.,
       10023., 10024., 10025., 10026., 10027., 10028., 10029., 10030.,
       10031., 10032., 10033., 10034., 10035., 10036., 10037., 10038.,
       10039., 10040., 10041., 10042., 10043., 10044., 10045., 10046.,
       10047., 10048., 10049., 10050., 10051., 10052., 10053., 10054.,
       10055., 10056., 10057., 10058., 10059., 10060., 10061., 10062.,
       10063., 10064., 10065., 10066., 10067., 10068., 10069., 10070.,
       10071., 10072.])

In [9]:
tal_words_episode_21_for_alona

,Prototype_tagged_chain_id,word,Focus,xmin,xmax,Prototype,Prototype_id,episode_id
0,NaN,It,None,0.07,0.16,C,0,21.0
1,NaN,is,None,0.16,0.29,C,0,21.0
2,NaN,an,None,0.29,0.41,C,0,21.0
3,NaN,old,None,0.41,0.73,C,0,21.0
4,NaN,old,None,0.73,0.92,D,13,21.0
...,...,...,...,...,...,...,...,...
8141,NaN,stories,None,3506.22,3506.57,D,43971,21.0
8142,NaN,of,None,3506.57,3506.63,D,43971,21.0
8143,NaN,This,None,3506.63,3506.79,D,43971,21.0
8144,NaN,American,None,3506.79,3507.20,D,43971,21.0
8145,NaN,Life,None,3507.20,3507.59,D,43971,21.0

In [10]:
tal_words_with_tag_for_alona = pd.read_parquet("/home/moshebr/dharelg/datasets/all_05012023/tal_tagged_xy_table_with_Prototype_id_next.parquet")

In [11]:
tal_words_with_tag_for_alona.head(50)

,word_id,begin,end,word,Focus,Focus_id,Prototype,Prototype_id,Comments,Comments_id,...,pitch_strength_norm_legendre0,pitch_strength_norm_legendre1,pitch_strength_norm_legendre2,pitch_strength_norm_legendre3,speech_rate,pre_word_silence,speech_rate2,Prototype_id_next,Prototype_tagged_chain_id,Prototype_tagged_chain_prototype_count
0,0.0,0,3,Joe,NaN,NaN,Q,0,Name,0.0,...,0.291405,0.626611,0.571728,0.600353,0.042857,0.17,23.333333,13,0.0,27.0
1,1.0,4,12,Franklin,1.0,4.0,Q,0,Name,0.0,...,0.135617,0.604351,0.711906,0.741498,0.033333,0.00,30.000000,13,0.0,27.0
2,2.0,13,16,I'm,NaN,NaN,D,13,None,NaN,...,0.256432,0.487808,0.703792,0.675497,0.100000,0.05,10.000000,23,0.0,27.0
3,3.0,17,22,ready,1.0,17.0,D,13,None,NaN,...,0.113939,0.620394,0.753778,0.786955,0.100000,0.00,10.000000,23,0.0,27.0
4,4.0,23,27,It's,NaN,NaN,D,23,None,NaN,...,0.133566,0.591961,0.677007,0.771416,0.100000,0.22,10.000000,43,0.0,27.0
5,5.0,28,31,Ira,1.0,28.0,D,23,Name,28.0,...,0.188667,0.616184,0.686909,0.737469,0.060000,0.00,16.666667,43,0.0,27.0
6,6.0,32,37,Glass,2.0,32.0,D,23,Name,28.0,...,0.134783,0.606256,0.704357,0.743659,0.075000,0.00,13.333333,43,0.0,27.0
7,7.0,38,42,here,NaN,NaN,D,23,None,NaN,...,0.140722,0.609501,0.653474,0.742521,0.100000,0.00,10.000000,43,0.0,27.0
8,8.0,43,45,Oh,2.0,43.0,C,43,None,NaN,...,0.264181,0.559192,0.683765,0.626142,0.100000,0.46,10.000000,46,0.0,27.0
9,9.0,46,52,you're,2.0,46.0,C,46,None,NaN,...,0.248560,0.515520,0.683592,0.568050,0.075000,0.00,13.333333,75,0.0,27.0
10,10.0,53,56,the,NaN,NaN,C,46,None,NaN,...,0.159506,0.609963,0.731977,0.755674,0.150000,0.00,6.666667,75,0.0,27.0
11,11.0,57,62,emcee,1.0,57.0,C,46,None,NaN,...,0.108766,0.651702,0.822845,0.780946,0.066000,0.00,15.151515,75,0.0,27.0
12,12.0,63,65,on,NaN,NaN,C,46,None,NaN,...,0.437475,0.383291,0.550862,0.360079,0.060000,0.00,16.666667,75,0.0,27.0
13,13.0,66,69,the,NaN,NaN,C,46,None,NaN,...,0.554796,0.201859,0.436369,0.201859,0.075000,0.00,13.333333,75,0.0,27.0
14,14.0,70,74,show,2.0,70.0,C,46,None,NaN,...,0.746147,-0.129709,0.746147,-0.129709,0.075000,0.00,13.333333,75,0.0,27.0
15,15.0,75,78,Ira,2.0,75.0,D,75,Name,75.0,...,0.119212,0.594044,0.744176,0.774250,0.150000,0.00,6.666667,79,0.0,27.0
16,16.0,79,80,I,NaN,NaN,C,79,P.C,79.0,...,0.500000,0.500157,0.250235,0.500157,0.075000,0.02,13.333333,106,0.0,27.0
17,17.0,81,83,am,1.0,81.0,C,79,P.C,79.0,...,0.186252,0.602060,0.708439,0.751623,0.075000,0.00,13.333333,106,0.0,27.0
18,18.0,84,87,the,NaN,NaN,C,79,P.C,79.0,...,0.293836,0.349819,0.606844,0.499258,0.150000,0.00,6.666667,106,0.0,27.0
19,19.0,88,93,emcee,2.0,88.0,C,79,P.C,79.0,...,0.153904,0.570247,0.754906,0.785172,0.048000,0.00,20.833333,106,0.0,27.0
20,20.0,94,96,on,NaN,NaN,C,79,P.C,79.0,...,0.113246,0.630195,0.742674,0.773181,0.000000,0.00,0.000000,106,0.0,27.0
21,21.0,97,100,the,NaN,NaN,C,79,P.C,79.0,...,0.488550,0.575920,0.369605,0.575920,0.075000,0.00,13.333333,106,0.0,27.0
22,22.0,101,105,show,2.0,101.0,C,79,P.C,79.0,...,0.158861,0.446069,0.749954,0.700953,0.100000,0.00,10.000000,106,0.0,27.0
23,23.0,106,109,Yes,2.0,106.0,D,106,None,NaN,...,0.205819,0.592039,0.749380,0.681309,0.075000,0.00,13.333333,110,0.0,27.0
24,24.0,110,112,Oh,NaN,NaN,D,110,None,NaN,...,0.233504,0.590134,0.689811,0.677500,0.300000,0.26,3.333333,119,0.0,27.0
25,25.0,113,118,great,1.0,113.0,D,110,None,NaN,...,0.298586,0.417947,0.647081,0.570109,0.050000,0.00,20.000000,119,0.0,27.0
26,26.0,119,122,Ira,1.0,119.0,Q,119,Name,119.0,...,0.305103,0.529701,0.632589,0.577979,0.060000,0.00,16.666667,123,0.0,27.0
27,27.0,123,128,I-R-A,NaN,NaN,Q,123,NormProb,123.0,...,0.173517,0.589548,0.716975,0.733398,0.075000,0.00,13.333333,133,NaN,NaN
28,28.0,129,132,Ira,NaN,NaN,Q,123,NormProb,123.0,...,0.113603,0.641029,0.742595,0.789496,0.150000,0.00,6.666667,133,NaN,NaN
29,54.0,133,136,Yes,1.0,133.0,D,133,None,NaN,...,0.109105,0.587047,0.700361,0.809369,0.150000,11.53,6.666667,137,1.0,1.0
30,55.0,137,139,So,NaN,NaN,C,137,B.C,137.0,...,0.358595,0.430348,0.587458,0.495017,0.150000,0.12,6.666667,147,NaN,NaN
31,56.0,140,146,listen,NaN,NaN,C,137,B.C,137.0,...,0.039915,0.632163,0.788348,0.838806,0.300000,0.00,3.333333,147,NaN,NaN
32,57.0,147,151,Tony,NaN,NaN,D,147,B.C,137.0,...,0.154538,0.620875,0.770370,0.718649,0.100000,0.28,10.000000,152,NaN,NaN
33,58.0,152,154,If,2.0,152.0,C,152,Bipartite,152.0,...,NaN,NaN,NaN,NaN,0.075000,0.71,13.333333,171,2.0,9.0
34,59.0,155,158,the,NaN,NaN,C,152,Bipartite,152.0,...,NaN,NaN,NaN,NaN,0.075000,0.00,13.333333,171,2.0,9.0
35,60.0,159,164,phone,NaN,NaN,C,152,Bipartite,152.0,...,0.209806,0.574178,0.691816,0.701151,0.100000,0.05,10.000000,171,2.0,9.0
36,61.0,165,170,rings,1.0,165.0,C,152,Bipartite,152.0,...,0.083159,0.595839,0.781414,0.818736,0.150000,0.00,6.666667,171,2.0,9.0
37,62.0,171,175,take,2.0,171.0,D,171,Bipartite,152.0,...,0.550686,0.248285,0.372366,0.248285,0.075000,0.36,13.333333,191,2.0,9.0
38,63.0,176,178,it,NaN,NaN,D,171,Bipartite,152.0,...,NaN,NaN,NaN,NaN,0.050000,0.00,20.000000,191,2.0,9.0
39,64.0,179,181,in,NaN,NaN,D,171,Bipartite,152.0,...,0.555425,0.237424,0.481324,0.237424,0.060000,0.00,16.666667,191,2.0,9.0
40,65.0,182,185,the,NaN,NaN,D,171,Bipartite,152.0,...,0.436807,0.364190,0.517118,0.335214,0.100000,0.00,10.000000,191,2.0,9.0
41,66.0,186,190,back,1.0,186.0,D,171,Bipartite,152.0,...,0.555304,0.196101,0.471090,0.196101,0.150000,0.00,6.666667,191,2.0,9.0
42,67.0,191,194,And,NaN,NaN,!D,191,None,NaN,...,NaN,NaN,NaN,NaN,0.060000,0.63,16.666667,231,NaN,NaN
43,68.0,195,199,then,NaN,NaN,!D,191,None,NaN,...,0.256249,0.550484,0.740792,0.617223,0.075000,0.00,13.333333,231,NaN,NaN
44,69.0,200,204,come,NaN,NaN,!D,191,None,NaN,...,0.095714,0.659382,0.753687,0.780206,0.150000,0.00,6.666667,231,NaN,NaN
45,70.0,205,208,out,NaN,NaN,!D,191,None,NaN,...,0.359238,0.437196,0.626034,0.476847,0.150000,0.04,6.666667,231,NaN,NaN
46,71.0,209,212,and,NaN,NaN,!D,191,None,NaN,...,0.748328,-0.333440,0.748328,-0.333440,0.060000,-1.08,16.666667,231,NaN,NaN
47,72.0,213,217,tell,NaN,NaN,!D,191,None,NaN,...,0.749758,-0.219117,0.749758,-0.219117,0.050000,1.31,20.000000,231,NaN,NaN
48,73.0,218,220,me,NaN,NaN,!D,191,None,NaN,...,0.436468,0.344250,0.520207,0.322683,0.060000,0.00,16.666667,231,NaN,NaN
49,74.0,221,224,who,NaN,NaN,!D,191,None,NaN,...,0.208681,0.607283,0.700677,0.702519,0.060000,0.00,16.666667,231,NaN,NaN

In [12]:
tal_words_episode_21_for_alona.head(50)

,Prototype_tagged_chain_id,word,Focus,xmin,xmax,Prototype,Prototype_id,episode_id
0,NaN,It,None,0.07,0.16,C,0,21.0
1,NaN,is,None,0.16,0.29,C,0,21.0
2,NaN,an,None,0.29,0.41,C,0,21.0
3,NaN,old,None,0.41,0.73,C,0,21.0
4,NaN,old,None,0.73,0.92,D,13,21.0
5,NaN,story,None,0.92,1.33,D,13,21.0
6,NaN,A,None,1.33,1.64,C,23,21.0
7,NaN,group,None,2.44,2.71,C,23,21.0
8,NaN,of,None,2.71,2.80,C,23,21.0
9,NaN,friends,None,2.80,3.13,C,23,21.0
10,NaN,gets,None,3.13,3.34,C,23,21.0
11,NaN,together,None,3.34,3.79,C,23,21.0
12,10000.0,decides,2,4.87,5.24,C,56,21.0
13,10000.0,to,None,5.24,5.32,C,56,21.0
14,10000.0,start,1,5.32,5.54,C,56,21.0
15,10000.0,a,None,5.54,5.58,C,56,21.0
16,10000.0,business,1,5.58,6.41,C,56,21.0
17,10000.0,put,2,7.71,7.88,C,84,21.0
18,10000.0,on,None,7.88,8.00,C,84,21.0
19,10000.0,a,None,8.00,8.08,C,84,21.0
20,10000.0,show,1,8.08,8.82,C,84,21.0
21,10000.0,or,None,9.85,9.96,C,98,21.0
22,10000.0,begin,2,9.96,10.18,C,98,21.0
23,10000.0,their,None,10.18,10.33,C,98,21.0
24,10000.0,own,None,10.33,10.45,C,98,21.0
25,10000.0,church,1,10.45,11.00,C,98,21.0
26,10000.0,or,None,11.00,11.04,C,124,21.0
27,10000.0,take,2,11.04,11.14,C,124,21.0
28,10000.0,a,None,11.14,11.64,C,124,21.0
29,10000.0,political,3,12.19,12.91,C,124,21.0
30,10000.0,stand,None,12.91,13.41,C,124,21.0
31,10000.0,together,3,13.44,13.94,C,150,21.0
32,10000.0,as,None,14.26,14.43,D,159,21.0
33,10000.0,a,None,14.43,14.48,D,159,21.0
34,10000.0,group,1,14.48,14.83,D,159,21.0
35,10000.0,Hearts,2,16.21,16.48,C,170,21.0
36,10000.0,are,None,16.48,16.56,C,170,21.0
37,10000.0,full,1,16.56,17.06,C,170,21.0
38,10000.0,Everyone's,None,17.20,17.62,C,186,21.0
39,10000.0,close,1,17.62,18.14,C,186,21.0
40,10000.0,But,None,18.20,18.48,C,203,21.0
41,10000.0,over,2,19.62,19.87,C,203,21.0
42,10000.0,time,1,19.87,20.26,C,203,21.0
43,10000.0,there's,None,20.26,20.42,C,217,21.0
44,10000.0,some,None,20.42,20.56,C,217,21.0
45,10000.0,small,1,20.56,21.29,C,217,21.0
46,10000.0,thing,3,21.33,21.92,C,217,21.0
47,10000.0,that,None,21.92,22.04,C,217,21.0
48,10000.0,comes,2,22.04,22.31,C,217,21.0
49,10000.0,up,None,22.31,22.49,C,217,21.0

In [13]:
tal_tag_more_relevant = tal_words_with_tag_for_alona[[
 'Prototype_tagged_chain_id',
 'word','Focus','xmin','xmax','Prototype','Prototype_id','episode_id']]

In [14]:
tal_tag_more_relevant['Focus_bool'] = tal_tag_more_relevant['Focus'] == 1
tal_tag_more_relevant['Focus_bool'] = tal_tag_more_relevant['Focus_bool'].apply(lambda x: 'TRUE' if x else 'FALSE')

/local_data/34103_eranbe/ipykernel_252536/3323927540.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tal_tag_more_relevant['Focus_bool'] = tal_tag_more_relevant['Focus'] == 1
/local_data/34103_eranbe/ipykernel_252536/3323927540.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tal_tag_more_relevant['Focus_bool'] = tal_tag_more_relevant['Focus_bool'].apply(lambda x: 'TRUE' if x else 'FALSE')

In [15]:
tal_words_episode_21_for_alona['Focus'] = pd.to_numeric(tal_words_episode_21_for_alona['Focus'], errors='coerce')

In [16]:
tal_words_episode_21_for_alona['Focus_bool'] = tal_words_episode_21_for_alona['Focus'].isin([1, 3])

In [17]:

tal_words_episode_21_for_alona['Focus_bool'] = tal_words_episode_21_for_alona['Focus_bool'].apply(lambda x: 'TRUE' if x else 'FALSE')

In [18]:
tal_words_episode_21_for_alona.head(100)

,Prototype_tagged_chain_id,word,Focus,xmin,xmax,Prototype,Prototype_id,episode_id,Focus_bool
0,NaN,It,NaN,0.07,0.16,C,0,21.0,FALSE
1,NaN,is,NaN,0.16,0.29,C,0,21.0,FALSE
2,NaN,an,NaN,0.29,0.41,C,0,21.0,FALSE
3,NaN,old,NaN,0.41,0.73,C,0,21.0,FALSE
4,NaN,old,NaN,0.73,0.92,D,13,21.0,FALSE
...,...,...,...,...,...,...,...,...,...
95,10001.0,it,NaN,42.78,42.86,C,502,21.0,FALSE
96,10001.0,is,NaN,42.86,42.96,C,502,21.0,FALSE
97,10001.0,This,1.0,42.96,43.12,C,502,21.0,TRUE
98,10001.0,American,2.0,43.12,43.47,C,502,21.0,FALSE
99,10001.0,Life,1.0,43.47,43.76,C,502,21.0,TRUE

In [19]:
tal_tag_more_relevant.head(100)

,Prototype_tagged_chain_id,word,Focus,xmin,xmax,Prototype,Prototype_id,episode_id,Focus_bool
0,0.0,Joe,NaN,0.17,0.29,Q,0,1.0,FALSE
1,0.0,Franklin,1.0,0.29,0.56,Q,0,1.0,TRUE
2,0.0,I'm,NaN,0.61,0.81,D,13,1.0,FALSE
3,0.0,ready,1.0,0.81,1.17,D,13,1.0,TRUE
4,0.0,It's,NaN,1.39,1.68,D,23,1.0,FALSE
...,...,...,...,...,...,...,...,...,...
95,NaN,you,NaN,49.40,49.88,!D,427,1.0,FALSE
96,NaN,This,NaN,50.57,50.83,!D,471,1.0,FALSE
97,NaN,interviewee,NaN,50.83,51.32,!D,471,1.0,FALSE
98,NaN,did,NaN,51.32,51.44,!D,471,1.0,FALSE
99,NaN,not,NaN,51.44,51.61,!D,471,1.0,FALSE

In [20]:


# Assuming df1 and df2 are your two dataframes
tal_tag_more_relevant = pd.concat([tal_words_episode_21_for_alona, tal_tag_more_relevant])

In [21]:
tal_tag_more_relevant.head(67)

,Prototype_tagged_chain_id,word,Focus,xmin,xmax,Prototype,Prototype_id,episode_id,Focus_bool
0,NaN,It,NaN,0.07,0.16,C,0,21.0,FALSE
1,NaN,is,NaN,0.16,0.29,C,0,21.0,FALSE
2,NaN,an,NaN,0.29,0.41,C,0,21.0,FALSE
3,NaN,old,NaN,0.41,0.73,C,0,21.0,FALSE
4,NaN,old,NaN,0.73,0.92,D,13,21.0,FALSE
...,...,...,...,...,...,...,...,...,...
62,10000.0,and,NaN,23.49,23.75,D,327,21.0,FALSE
63,10000.0,more,1.0,28.59,28.78,D,327,21.0,TRUE
64,10000.0,until,NaN,31.65,31.90,D,327,21.0,FALSE
65,10000.0,it,NaN,31.90,31.97,D,327,21.0,FALSE
66,10000.0,becomes,2.0,31.97,32.42,D,327,21.0,FALSE

In [22]:
tal_tag_more_relevant.reset_index(drop=True,inplace=True)

In [23]:
df = tal_tag_more_relevant

In [24]:
df.head()

,Prototype_tagged_chain_id,word,Focus,xmin,xmax,Prototype,Prototype_id,episode_id,Focus_bool
0,NaN,It,NaN,0.07,0.16,C,0,21.0,FALSE
1,NaN,is,NaN,0.16,0.29,C,0,21.0,FALSE
2,NaN,an,NaN,0.29,0.41,C,0,21.0,FALSE
3,NaN,old,NaN,0.41,0.73,C,0,21.0,FALSE
4,NaN,old,NaN,0.73,0.92,D,13,21.0,FALSE

In [178]:
df['episode_id'].unique()

array([ 21.,   1.,   5.,  22.,  40.,  66.,  80.,  99., 140., 160.])

In [179]:
#very big change

#df_episode1 = df[df['episode_id']==80]
########################################################







# Remove rows where Prototype starts with '!'
filtered_df = df[~df['Prototype'].str.startswith('!')].reset_index(drop=True)
filtered_df['Prototype_num'] = filtered_df['Prototype'].replace({'C': 3, 'D': 2, 'Q': 1})

In [180]:
filtered_df.tail(20)

,Prototype_tagged_chain_id,word,Focus,xmin,xmax,Prototype,Prototype_id,episode_id,Focus_bool,Prototype_num
32854,2140.0,at,NaN,3510.40,3510.49,C,48349,160.0,FALSE,3
32855,2140.0,least,NaN,3510.49,3510.83,C,48349,160.0,FALSE,3
32856,2140.0,of,NaN,3510.86,3511.04,C,48377,160.0,FALSE,3
32857,2140.0,putting,1.0,3511.04,3511.34,C,48377,160.0,TRUE,3
32858,2140.0,our,NaN,3511.34,3511.46,C,48377,160.0,FALSE,3
32859,2140.0,name,NaN,3511.46,3511.67,C,48377,160.0,FALSE,3
32860,2140.0,forward,NaN,3511.67,3512.06,C,48377,160.0,FALSE,3
32861,2140.0,we,NaN,3512.06,3512.18,D,48405,160.0,FALSE,2
32862,2140.0,were,NaN,3512.18,3512.85,D,48405,160.0,FALSE,2
32863,2140.0,hit,1.0,3512.98,3513.17,D,48405,160.0,TRUE,2
32864,2140.0,with,NaN,3513.17,3513.34,D,48405,160.0,FALSE,2
32865,2140.0,a,NaN,3513.34,3513.40,D,48405,160.0,FALSE,2
32866,2140.0,withering,NaN,3513.40,3513.83,D,48405,160.0,FALSE,2
32867,2140.0,attack,NaN,3513.83,3514.26,D,48405,160.0,FALSE,2
32868,2140.0,Indeed,1.0,3514.38,3514.75,D,48441,160.0,TRUE,2
32869,2140.0,you,NaN,3514.75,3514.87,D,48441,160.0,FALSE,2
32870,2140.0,were,NaN,3514.87,3515.09,D,48441,160.0,FALSE,2
32871,2140.0,I'm,NaN,3515.09,3515.27,D,48457,160.0,FALSE,2
32872,2140.0,Ira,NaN,3515.27,3515.50,D,48457,160.0,FALSE,2
32873,2140.0,Glass,1.0,3515.50,3515.93,D,48457,160.0,TRUE,2

In [181]:
len(filtered_df)

32874

In [182]:
len(filtered_df)

32874

In [183]:
df1_test = filtered_df[['word','Prototype_num','Prototype_id','Focus_bool','xmin','xmax','Prototype_tagged_chain_id','episode_id']]

In [184]:
df1_test.rename(columns = {'episode_id':'source', "Prototype_tagged_chain_id": "past_split_id","word":"words"}, inplace = True)

/local_data/33850_eranbe/ipykernel_243491/3002703424.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_test.rename(columns = {'episode_id':'source', "Prototype_tagged_chain_id": "past_split_id","word":"words"}, inplace = True)

In [185]:
df1_test.head(15)

,words,Prototype_num,Prototype_id,Focus_bool,xmin,xmax,past_split_id,source
0,It,3,0,FALSE,0.07,0.16,NaN,21.0
1,is,3,0,FALSE,0.16,0.29,NaN,21.0
2,an,3,0,FALSE,0.29,0.41,NaN,21.0
3,old,3,0,FALSE,0.41,0.73,NaN,21.0
4,old,2,13,FALSE,0.73,0.92,NaN,21.0
5,story,2,13,FALSE,0.92,1.33,NaN,21.0
6,A,3,23,FALSE,1.33,1.64,NaN,21.0
7,group,3,23,FALSE,2.44,2.71,NaN,21.0
8,of,3,23,FALSE,2.71,2.80,NaN,21.0
9,friends,3,23,FALSE,2.80,3.13,NaN,21.0
10,gets,3,23,FALSE,3.13,3.34,NaN,21.0
11,together,3,23,FALSE,3.34,3.79,NaN,21.0
12,decides,3,56,FALSE,4.87,5.24,10000.0,21.0
13,to,3,56,FALSE,5.24,5.32,10000.0,21.0
14,start,3,56,TRUE,5.32,5.54,10000.0,21.0

In [186]:
df = df1_test.sort_values(["source","past_split_id","xmin"])

In [187]:
len(df)

32874

In [188]:
df.head(30)

,words,Prototype_num,Prototype_id,Focus_bool,xmin,xmax,past_split_id,source
8101,Joe,1,0,FALSE,0.17,0.29,0.0,1.0
8102,Franklin,1,0,TRUE,0.29,0.56,0.0,1.0
8103,I'm,2,13,FALSE,0.61,0.81,0.0,1.0
8104,ready,2,13,TRUE,0.81,1.17,0.0,1.0
8105,It's,2,23,FALSE,1.39,1.68,0.0,1.0
8106,Ira,2,23,TRUE,1.68,1.87,0.0,1.0
8107,Glass,2,23,FALSE,1.87,2.15,0.0,1.0
8108,here,2,23,FALSE,2.15,2.41,0.0,1.0
8109,Oh,3,43,FALSE,2.87,3.03,0.0,1.0
8110,you're,3,46,FALSE,3.03,3.18,0.0,1.0
8111,the,3,46,FALSE,3.18,3.41,0.0,1.0
8112,emcee,3,46,TRUE,3.41,3.74,0.0,1.0
8113,on,3,46,FALSE,3.74,3.81,0.0,1.0
8114,the,3,46,FALSE,3.81,3.88,0.0,1.0
8115,show,3,46,FALSE,3.88,4.08,0.0,1.0
8116,Ira,2,75,FALSE,4.08,4.43,0.0,1.0
8117,I,3,79,FALSE,4.45,4.51,0.0,1.0
8118,am,3,79,TRUE,4.51,4.71,0.0,1.0
8119,the,3,79,FALSE,4.71,4.83,0.0,1.0
8120,emcee,3,79,FALSE,4.83,5.07,0.0,1.0
8121,on,3,79,FALSE,5.07,5.41,0.0,1.0
8122,the,3,79,FALSE,5.41,5.47,0.0,1.0
8123,show,3,79,FALSE,5.47,5.70,0.0,1.0
8124,Yes,2,106,FALSE,5.70,5.87,0.0,1.0
8125,Oh,2,110,FALSE,6.13,6.41,0.0,1.0
8126,great,2,110,TRUE,6.41,6.53,0.0,1.0
8127,Ira,1,119,TRUE,6.53,6.74,0.0,1.0
8130,Yes,2,133,TRUE,18.83,19.17,1.0,1.0
8134,If,3,152,FALSE,21.86,22.01,2.0,1.0
8135,the,3,152,FALSE,22.01,22.13,2.0,1.0

In [189]:
df.tail(30)

,words,Prototype_num,Prototype_id,Focus_bool,xmin,xmax,past_split_id,source
31757,Initially,3,31314,FALSE,2164.39,2164.94,NaN,160.0
31770,it's,3,31391,FALSE,2169.69,2169.90,NaN,160.0
31771,a,3,31391,FALSE,2170.07,2170.20,NaN,160.0
31772,very,3,31391,FALSE,2170.20,2170.89,NaN,160.0
31887,to,2,32937,FALSE,2269.99,2270.19,NaN,160.0
31888,us,2,32937,FALSE,2270.19,2270.42,NaN,160.0
31959,Now,3,34408,FALSE,2365.85,2365.94,NaN,160.0
31960,if,3,34412,FALSE,2365.94,2366.11,NaN,160.0
31961,your,3,34412,FALSE,2366.11,2366.25,NaN,160.0
31962,question,3,34412,FALSE,2366.96,2367.39,NaN,160.0
31963,is,3,34412,FALSE,2367.39,2367.51,NaN,160.0
32019,Hm,2,35369,FALSE,2436.65,2437.30,NaN,160.0
32023,do,3,35488,FALSE,2444.92,2445.07,NaN,160.0
32024,you,3,35488,FALSE,2445.07,2445.22,NaN,160.0
32025,feel,3,35488,FALSE,2445.22,2445.31,NaN,160.0
32026,like,3,35488,FALSE,2445.31,2445.47,NaN,160.0
32074,Well,3,36130,FALSE,2486.38,2486.58,NaN,160.0
32117,Nail,2,37203,FALSE,2552.33,2552.87,NaN,160.0
32126,D,3,37268,FALSE,2570.08,2570.22,NaN,160.0
32127,C,3,37268,FALSE,2570.22,2570.41,NaN,160.0
32147,right,1,37429,FALSE,2584.12,2584.37,NaN,160.0
32187,very,2,37823,FALSE,2619.89,2620.15,NaN,160.0
32447,was,2,43806,FALSE,3078.10,3078.32,NaN,160.0
32448,that,2,43806,FALSE,3078.32,3078.49,NaN,160.0
32449,period,2,43806,FALSE,3078.49,3078.88,NaN,160.0
32565,Well,3,45055,FALSE,3175.21,3175.35,NaN,160.0
32566,I,3,45060,FALSE,3175.35,3175.41,NaN,160.0
32567,guess,3,45060,FALSE,3175.41,3175.56,NaN,160.0
32575,just,3,45312,FALSE,3186.81,3187.00,NaN,160.0
32576,like,3,45312,FALSE,3187.00,3187.23,NaN,160.0

In [190]:
import pandas as pd

def check_identical(group):
    return group.nunique() == 1

# Group by 'source' and 'past_split_id' and check if all values in 'Prototype_id' are identical
grouped = df.groupby(['source', 'past_split_id'])['Prototype_id'].apply(check_identical)

# Get the ('source', 'past_split_id') pairs where all 'Prototype_id' values are NOT identical
non_identical_Xs = grouped[~grouped].index.tolist()

# Filter the original DataFrame to keep only these groups
filtered_df = df[df.set_index(['source', 'past_split_id']).index.isin(non_identical_Xs)]

In [191]:
filtered_df.head()

,words,Prototype_num,Prototype_id,Focus_bool,xmin,xmax,past_split_id,source
8101,Joe,1,0,FALSE,0.17,0.29,0.0,1.0
8102,Franklin,1,0,TRUE,0.29,0.56,0.0,1.0
8103,I'm,2,13,FALSE,0.61,0.81,0.0,1.0
8104,ready,2,13,TRUE,0.81,1.17,0.0,1.0
8105,It's,2,23,FALSE,1.39,1.68,0.0,1.0

In [192]:
import pandas as pd

def has_identical_group(df):
    def check_identical(group):
        return group.nunique() == 1

    # Group by 'source' and 'past_split_id' and check if all values in 'Prototype_id' are identical
    grouped = df.groupby(['source', 'past_split_id'])['Prototype_id'].apply(check_identical)

    # Return True if there is at least one True in grouped
    return grouped.any()

# Suppose df is your DataFrame
print(has_identical_group(df))
print(has_identical_group(filtered_df))

True
False

In [193]:
def transform_prototype(group):
    protos = group["Prototype_num"].values
    new_protos = []
    last_proto = None
    for proto in protos:
        if last_proto is None or last_proto != proto:
            new_protos.append("TRUE")
        else:
            new_protos.append("FALSE")
        last_proto = proto
    group["Segment_bool"] = new_protos
    return group

# apply the transform_prototype function to each group of rows with the same "episode_id" and "Prototype_id"
filtered_df_bool = filtered_df.groupby(['source', "Prototype_id"]).apply(transform_prototype)

/local_data/33850_eranbe/ipykernel_243491/147742042.py:15: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  filtered_df_bool = filtered_df.groupby(['source', "Prototype_id"]).apply(transform_prototype)

In [194]:
filtered_df_bool.tail(30)

,words,Prototype_num,Prototype_id,Focus_bool,xmin,xmax,past_split_id,source,Segment_bool
32844,spoke,2,48305,FALSE,3420.14,3420.42,2140.0,160.0,FALSE
32845,with,2,48305,FALSE,3420.42,3420.53,2140.0,160.0,FALSE
32846,Paul,2,48305,TRUE,3420.53,3420.73,2140.0,160.0,FALSE
32847,Tough,2,48305,FALSE,3420.73,3421.19,2140.0,160.0,FALSE
32848,And,3,48330,FALSE,3507.50,3507.72,2140.0,160.0,TRUE
32849,then,3,48330,TRUE,3507.72,3507.84,2140.0,160.0,FALSE
32850,literally,3,48330,FALSE,3507.84,3508.35,2140.0,160.0,FALSE
32851,within,3,48349,FALSE,3508.35,3508.55,2140.0,160.0,TRUE
32852,hours,3,48349,TRUE,3509.82,3510.20,2140.0,160.0,FALSE
32853,of,3,48349,FALSE,3510.20,3510.40,2140.0,160.0,FALSE
32854,at,3,48349,FALSE,3510.40,3510.49,2140.0,160.0,FALSE
32855,least,3,48349,FALSE,3510.49,3510.83,2140.0,160.0,FALSE
32856,of,3,48377,FALSE,3510.86,3511.04,2140.0,160.0,TRUE
32857,putting,3,48377,TRUE,3511.04,3511.34,2140.0,160.0,FALSE
32858,our,3,48377,FALSE,3511.34,3511.46,2140.0,160.0,FALSE
32859,name,3,48377,FALSE,3511.46,3511.67,2140.0,160.0,FALSE
32860,forward,3,48377,FALSE,3511.67,3512.06,2140.0,160.0,FALSE
32861,we,2,48405,FALSE,3512.06,3512.18,2140.0,160.0,TRUE
32862,were,2,48405,FALSE,3512.18,3512.85,2140.0,160.0,FALSE
32863,hit,2,48405,TRUE,3512.98,3513.17,2140.0,160.0,FALSE
32864,with,2,48405,FALSE,3513.17,3513.34,2140.0,160.0,FALSE
32865,a,2,48405,FALSE,3513.34,3513.40,2140.0,160.0,FALSE
32866,withering,2,48405,FALSE,3513.40,3513.83,2140.0,160.0,FALSE
32867,attack,2,48405,FALSE,3513.83,3514.26,2140.0,160.0,FALSE
32868,Indeed,2,48441,TRUE,3514.38,3514.75,2140.0,160.0,TRUE
32869,you,2,48441,FALSE,3514.75,3514.87,2140.0,160.0,FALSE
32870,were,2,48441,FALSE,3514.87,3515.09,2140.0,160.0,FALSE
32871,I'm,2,48457,FALSE,3515.09,3515.27,2140.0,160.0,TRUE
32872,Ira,2,48457,FALSE,3515.27,3515.50,2140.0,160.0,FALSE
32873,Glass,2,48457,TRUE,3515.50,3515.93,2140.0,160.0,FALSE

In [195]:
filtered_df_bool['label'] = filtered_df_bool['Segment_bool'].astype(str) + filtered_df_bool['Prototype_num'].astype(str) + filtered_df_bool['Focus_bool'].astype(str)

#filtered_df_bool['label'] = filtered_df_bool['Focus_bool'].astype(str)

In [196]:
filtered_df_bool.head(30)

,words,Prototype_num,Prototype_id,Focus_bool,xmin,xmax,past_split_id,source,Segment_bool,label
8101,Joe,1,0,FALSE,0.17,0.29,0.0,1.0,TRUE,TRUE1FALSE
8102,Franklin,1,0,TRUE,0.29,0.56,0.0,1.0,FALSE,FALSE1TRUE
8103,I'm,2,13,FALSE,0.61,0.81,0.0,1.0,TRUE,TRUE2FALSE
8104,ready,2,13,TRUE,0.81,1.17,0.0,1.0,FALSE,FALSE2TRUE
8105,It's,2,23,FALSE,1.39,1.68,0.0,1.0,TRUE,TRUE2FALSE
8106,Ira,2,23,TRUE,1.68,1.87,0.0,1.0,FALSE,FALSE2TRUE
8107,Glass,2,23,FALSE,1.87,2.15,0.0,1.0,FALSE,FALSE2FALSE
8108,here,2,23,FALSE,2.15,2.41,0.0,1.0,FALSE,FALSE2FALSE
8109,Oh,3,43,FALSE,2.87,3.03,0.0,1.0,TRUE,TRUE3FALSE
8110,you're,3,46,FALSE,3.03,3.18,0.0,1.0,TRUE,TRUE3FALSE
8111,the,3,46,FALSE,3.18,3.41,0.0,1.0,FALSE,FALSE3FALSE
8112,emcee,3,46,TRUE,3.41,3.74,0.0,1.0,FALSE,FALSE3TRUE
8113,on,3,46,FALSE,3.74,3.81,0.0,1.0,FALSE,FALSE3FALSE
8114,the,3,46,FALSE,3.81,3.88,0.0,1.0,FALSE,FALSE3FALSE
8115,show,3,46,FALSE,3.88,4.08,0.0,1.0,FALSE,FALSE3FALSE
8116,Ira,2,75,FALSE,4.08,4.43,0.0,1.0,TRUE,TRUE2FALSE
8117,I,3,79,FALSE,4.45,4.51,0.0,1.0,TRUE,TRUE3FALSE
8118,am,3,79,TRUE,4.51,4.71,0.0,1.0,FALSE,FALSE3TRUE
8119,the,3,79,FALSE,4.71,4.83,0.0,1.0,FALSE,FALSE3FALSE
8120,emcee,3,79,FALSE,4.83,5.07,0.0,1.0,FALSE,FALSE3FALSE
8121,on,3,79,FALSE,5.07,5.41,0.0,1.0,FALSE,FALSE3FALSE
8122,the,3,79,FALSE,5.41,5.47,0.0,1.0,FALSE,FALSE3FALSE
8123,show,3,79,FALSE,5.47,5.70,0.0,1.0,FALSE,FALSE3FALSE
8124,Yes,2,106,FALSE,5.70,5.87,0.0,1.0,TRUE,TRUE2FALSE
8125,Oh,2,110,FALSE,6.13,6.41,0.0,1.0,TRUE,TRUE2FALSE
8126,great,2,110,TRUE,6.41,6.53,0.0,1.0,FALSE,FALSE2TRUE
8127,Ira,1,119,TRUE,6.53,6.74,0.0,1.0,TRUE,TRUE1TRUE
8134,If,3,152,FALSE,21.86,22.01,2.0,1.0,TRUE,TRUE3FALSE
8135,the,3,152,FALSE,22.01,22.13,2.0,1.0,FALSE,FALSE3FALSE
8136,phone,3,152,FALSE,22.18,22.47,2.0,1.0,FALSE,FALSE3FALSE

In [197]:
df = filtered_df_bool

In [198]:
import os
# Get a list of all the wave files in the directory and its subdirectories
#file_list = glob.glob('/content/drive/MyDrive/Weizmann/SBC1to60/*.wav')
folder_path = "/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/"

# Get a list of all the files in the folder
file_list = os.listdir(folder_path)

In [199]:
list_of_alona_tags = [  '1.mp3',   '5.mp3','21.mp3'  ,'22.mp3',  '40.mp3',  '66.mp3',  '80.mp3',  '99.mp3', '140.mp3', '160.mp3']

In [200]:
for i,mp in enumerate(list_of_alona_tags):
    if mp not in file_list:
        print(mp+" NOT IN FILE LIST")

In [201]:
file_list = ['/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/1.mp3', 
                      '/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/5.mp3',
                      '/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/21.mp3',
                      '/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/22.mp3',  
                      '/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/40.mp3',  
                      '/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/66.mp3',  
                      '/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/80.mp3',  
                      '/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/99.mp3', 
                      '/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/140.mp3', 
                      '/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/160.mp3']

In [202]:
file_list[:10]

['/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/1.mp3',
 '/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/5.mp3',
 '/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/21.mp3',
 '/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/22.mp3',
 '/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/40.mp3',
 '/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/66.mp3',
 '/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/80.mp3',
 '/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/99.mp3',
 '/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/140.mp3',
 '/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/160.mp3']

In [203]:
df.head(30)

,words,Prototype_num,Prototype_id,Focus_bool,xmin,xmax,past_split_id,source,Segment_bool,label
8101,Joe,1,0,FALSE,0.17,0.29,0.0,1.0,TRUE,TRUE1FALSE
8102,Franklin,1,0,TRUE,0.29,0.56,0.0,1.0,FALSE,FALSE1TRUE
8103,I'm,2,13,FALSE,0.61,0.81,0.0,1.0,TRUE,TRUE2FALSE
8104,ready,2,13,TRUE,0.81,1.17,0.0,1.0,FALSE,FALSE2TRUE
8105,It's,2,23,FALSE,1.39,1.68,0.0,1.0,TRUE,TRUE2FALSE
8106,Ira,2,23,TRUE,1.68,1.87,0.0,1.0,FALSE,FALSE2TRUE
8107,Glass,2,23,FALSE,1.87,2.15,0.0,1.0,FALSE,FALSE2FALSE
8108,here,2,23,FALSE,2.15,2.41,0.0,1.0,FALSE,FALSE2FALSE
8109,Oh,3,43,FALSE,2.87,3.03,0.0,1.0,TRUE,TRUE3FALSE
8110,you're,3,46,FALSE,3.03,3.18,0.0,1.0,TRUE,TRUE3FALSE
8111,the,3,46,FALSE,3.18,3.41,0.0,1.0,FALSE,FALSE3FALSE
8112,emcee,3,46,TRUE,3.41,3.74,0.0,1.0,FALSE,FALSE3TRUE
8113,on,3,46,FALSE,3.74,3.81,0.0,1.0,FALSE,FALSE3FALSE
8114,the,3,46,FALSE,3.81,3.88,0.0,1.0,FALSE,FALSE3FALSE
8115,show,3,46,FALSE,3.88,4.08,0.0,1.0,FALSE,FALSE3FALSE
8116,Ira,2,75,FALSE,4.08,4.43,0.0,1.0,TRUE,TRUE2FALSE
8117,I,3,79,FALSE,4.45,4.51,0.0,1.0,TRUE,TRUE3FALSE
8118,am,3,79,TRUE,4.51,4.71,0.0,1.0,FALSE,FALSE3TRUE
8119,the,3,79,FALSE,4.71,4.83,0.0,1.0,FALSE,FALSE3FALSE
8120,emcee,3,79,FALSE,4.83,5.07,0.0,1.0,FALSE,FALSE3FALSE
8121,on,3,79,FALSE,5.07,5.41,0.0,1.0,FALSE,FALSE3FALSE
8122,the,3,79,FALSE,5.41,5.47,0.0,1.0,FALSE,FALSE3FALSE
8123,show,3,79,FALSE,5.47,5.70,0.0,1.0,FALSE,FALSE3FALSE
8124,Yes,2,106,FALSE,5.70,5.87,0.0,1.0,TRUE,TRUE2FALSE
8125,Oh,2,110,FALSE,6.13,6.41,0.0,1.0,TRUE,TRUE2FALSE
8126,great,2,110,TRUE,6.41,6.53,0.0,1.0,FALSE,FALSE2TRUE
8127,Ira,1,119,TRUE,6.53,6.74,0.0,1.0,TRUE,TRUE1TRUE
8134,If,3,152,FALSE,21.86,22.01,2.0,1.0,TRUE,TRUE3FALSE
8135,the,3,152,FALSE,22.01,22.13,2.0,1.0,FALSE,FALSE3FALSE
8136,phone,3,152,FALSE,22.18,22.47,2.0,1.0,FALSE,FALSE3FALSE

In [204]:
df.equals(df.sort_values(["source","past_split_id","xmin"]))
#checking if xmin is sorted

True

In [205]:
df.tail(500)

,words,Prototype_num,Prototype_id,Focus_bool,xmin,xmax,past_split_id,source,Segment_bool,label
32279,that's,3,40516,FALSE,2821.15,2821.33,2094.0,160.0,FALSE,FALSE3FALSE
32280,also,3,40516,TRUE,2821.33,2821.94,2094.0,160.0,FALSE,FALSE3TRUE
32281,around,3,40516,FALSE,2821.94,2822.21,2094.0,160.0,FALSE,FALSE3FALSE
32282,that,3,40516,FALSE,2822.21,2822.35,2094.0,160.0,FALSE,FALSE3FALSE
32283,time,3,40516,FALSE,2822.35,2822.80,2094.0,160.0,FALSE,FALSE3FALSE
...,...,...,...,...,...,...,...,...,...,...
32869,you,2,48441,FALSE,3514.75,3514.87,2140.0,160.0,FALSE,FALSE2FALSE
32870,were,2,48441,FALSE,3514.87,3515.09,2140.0,160.0,FALSE,FALSE2FALSE
32871,I'm,2,48457,FALSE,3515.09,3515.27,2140.0,160.0,TRUE,TRUE2FALSE
32872,Ira,2,48457,FALSE,3515.27,3515.50,2140.0,160.0,FALSE,FALSE2FALSE
32873,Glass,2,48457,TRUE,3515.50,3515.93,2140.0,160.0,FALSE,FALSE2TRUE

In [206]:
df.head()

,words,Prototype_num,Prototype_id,Focus_bool,xmin,xmax,past_split_id,source,Segment_bool,label
8101,Joe,1,0,FALSE,0.17,0.29,0.0,1.0,TRUE,TRUE1FALSE
8102,Franklin,1,0,TRUE,0.29,0.56,0.0,1.0,FALSE,FALSE1TRUE
8103,I'm,2,13,FALSE,0.61,0.81,0.0,1.0,TRUE,TRUE2FALSE
8104,ready,2,13,TRUE,0.81,1.17,0.0,1.0,FALSE,FALSE2TRUE
8105,It's,2,23,FALSE,1.39,1.68,0.0,1.0,TRUE,TRUE2FALSE

In [207]:
sorted(list(set(list(df[df.source==160].past_split_id))))

[1892.0,
 1893.0,
 1901.0,
 1903.0,
 1904.0,
 1905.0,
 1906.0,
 1907.0,
 1908.0,
 1909.0,
 1912.0,
 1914.0,
 1915.0,
 1922.0,
 1923.0,
 1924.0,
 1930.0,
 1931.0,
 1933.0,
 1935.0,
 1936.0,
 1939.0,
 1940.0,
 1944.0,
 1947.0,
 1948.0,
 1951.0,
 1953.0,
 1955.0,
 1958.0,
 1961.0,
 1963.0,
 1965.0,
 1966.0,
 1967.0,
 1970.0,
 1971.0,
 1974.0,
 1978.0,
 1979.0,
 1981.0,
 1985.0,
 1987.0,
 1990.0,
 1991.0,
 1992.0,
 1996.0,
 1997.0,
 1999.0,
 2000.0,
 2004.0,
 2007.0,
 2011.0,
 2017.0,
 2018.0,
 2020.0,
 2021.0,
 2022.0,
 2023.0,
 2024.0,
 2025.0,
 2026.0,
 2029.0,
 2035.0,
 2036.0,
 2037.0,
 2039.0,
 2040.0,
 2041.0,
 2044.0,
 2046.0,
 2048.0,
 2051.0,
 2052.0,
 2053.0,
 2054.0,
 2055.0,
 2057.0,
 2058.0,
 2061.0,
 2062.0,
 2063.0,
 2064.0,
 2069.0,
 2072.0,
 2073.0,
 2078.0,
 2080.0,
 2081.0,
 2082.0,
 2083.0,
 2084.0,
 2086.0,
 2087.0,
 2088.0,
 2091.0,
 2094.0,
 2099.0,
 2101.0,
 2102.0,
 2104.0,
 2105.0,
 2107.0,
 2112.0,
 2113.0,
 2115.0,
 2116.0,
 2120.0,
 2121.0,
 2122.0,
 2125.0,
 2126.0,
 2127.0,
 2128.0,
 2129.0,
 2130.0,
 2131.0,
 2132.0,
 2133.0,
 2135.0,
 2137.0,
 2138.0,
 2139.0,
 2140.0]

In [208]:
lis_test = [2037.0,
 2039.0,
 2040.0,
 2041.0,
 2044.0,
 2046.0,
 2048.0,
 2051.0,
 2052.0,
 2053.0,
 2054.0,
 2055.0,
 2057.0,
 2058.0,
 2061.0,
 2062.0,
 2063.0,
 2064.0,
 2069.0,
 2072.0,
 2073.0,
 2078.0,
 2080.0,
 2081.0,
 2082.0,
 2083.0,
 2084.0,
 2086.0,
 2087.0,
 2088.0,
 2091.0,
 2094.0,
 2099.0,
 2101.0,
 2102.0,
 2104.0,
 2105.0,
 2107.0,
 2112.0,
 2113.0,
 2115.0,
 2116.0,
 2120.0,
 2121.0,
 2122.0,
 2125.0,
 2126.0,
 2127.0,
 2128.0,
 2129.0,
 2130.0,
 2131.0,
 2132.0,
 2133.0,
 2135.0,
 2137.0,
 2138.0,
 2139.0,
 2140.0]

In [209]:
len(list(set(list(df[~((df['past_split_id'] >= 2037) & (df['past_split_id'] <= 2140))].Prototype_id))))

4630

In [210]:
df_TRAIN  = df[~((df['past_split_id'] >= 2037) & (df['past_split_id'] <= 2140))]

In [211]:
df_TRAIN[df_TRAIN.Focus_bool == 'TRUE']

,words,Prototype_num,Prototype_id,Focus_bool,xmin,xmax,past_split_id,source,Segment_bool,label
8102,Franklin,1,0,TRUE,0.29,0.56,0.0,1.0,FALSE,FALSE1TRUE
8104,ready,2,13,TRUE,0.81,1.17,0.0,1.0,FALSE,FALSE2TRUE
8106,Ira,2,23,TRUE,1.68,1.87,0.0,1.0,FALSE,FALSE2TRUE
8112,emcee,3,46,TRUE,3.41,3.74,0.0,1.0,FALSE,FALSE3TRUE
8118,am,3,79,TRUE,4.51,4.71,0.0,1.0,FALSE,FALSE3TRUE
...,...,...,...,...,...,...,...,...,...,...
31670,Yeah,2,30109,TRUE,2092.45,2092.63,2035.0,160.0,TRUE,TRUE2TRUE
31672,attack,3,30114,TRUE,2092.76,2093.12,2035.0,160.0,FALSE,FALSE3TRUE
31678,of,3,30151,TRUE,2095.29,2095.38,2035.0,160.0,TRUE,TRUE3TRUE
31681,time,2,30317,TRUE,2104.17,2104.69,2036.0,160.0,FALSE,FALSE2TRUE
31684,feeling,3,30327,TRUE,2105.43,2105.91,2036.0,160.0,FALSE,FALSE3TRUE

In [212]:
df_TEST = df[((df['past_split_id'] >= 2037) & (df['past_split_id'] <= 2140))]

In [213]:
df_TEST

,words,Prototype_num,Prototype_id,Focus_bool,xmin,xmax,past_split_id,source,Segment_bool,label
31686,I,2,30503,TRUE,2114.39,2114.42,2037.0,160.0,TRUE,TRUE2TRUE
31687,don't,2,30503,FALSE,2114.42,2114.69,2037.0,160.0,FALSE,FALSE2FALSE
31688,have,2,30503,FALSE,2115.04,2115.36,2037.0,160.0,FALSE,FALSE2FALSE
31689,a,2,30503,FALSE,2115.36,2115.43,2037.0,160.0,FALSE,FALSE2FALSE
31690,perfect,2,30503,FALSE,2115.43,2115.76,2037.0,160.0,FALSE,FALSE2FALSE
...,...,...,...,...,...,...,...,...,...,...
32869,you,2,48441,FALSE,3514.75,3514.87,2140.0,160.0,FALSE,FALSE2FALSE
32870,were,2,48441,FALSE,3514.87,3515.09,2140.0,160.0,FALSE,FALSE2FALSE
32871,I'm,2,48457,FALSE,3515.09,3515.27,2140.0,160.0,TRUE,TRUE2FALSE
32872,Ira,2,48457,FALSE,3515.27,3515.50,2140.0,160.0,FALSE,FALSE2FALSE
32873,Glass,2,48457,TRUE,3515.50,3515.93,2140.0,160.0,FALSE,FALSE2TRUE

In [214]:
df_TEST[df_TEST.Focus_bool == 'TRUE']

,words,Prototype_num,Prototype_id,Focus_bool,xmin,xmax,past_split_id,source,Segment_bool,label
31686,I,2,30503,TRUE,2114.39,2114.42,2037.0,160.0,TRUE,TRUE2TRUE
31692,I,2,30535,TRUE,2116.35,2116.48,2037.0,160.0,TRUE,TRUE2TRUE
31697,Enough,2,30565,TRUE,2117.96,2118.28,2037.0,160.0,TRUE,TRUE2TRUE
31703,Frank,3,30763,TRUE,2131.25,2131.52,2039.0,160.0,TRUE,TRUE3TRUE
31704,once,1,30769,TRUE,2131.57,2131.85,2039.0,160.0,TRUE,TRUE1TRUE
...,...,...,...,...,...,...,...,...,...,...
32852,hours,3,48349,TRUE,3509.82,3510.20,2140.0,160.0,FALSE,FALSE3TRUE
32857,putting,3,48377,TRUE,3511.04,3511.34,2140.0,160.0,FALSE,FALSE3TRUE
32863,hit,2,48405,TRUE,3512.98,3513.17,2140.0,160.0,FALSE,FALSE2TRUE
32868,Indeed,2,48441,TRUE,3514.38,3514.75,2140.0,160.0,TRUE,TRUE2TRUE
32873,Glass,2,48457,TRUE,3515.50,3515.93,2140.0,160.0,FALSE,FALSE2TRUE

In [215]:
total_missing =df[df['source']==21].isna().sum().sum()

print(f'Total missing values in DataFrame: {total_missing}')

Total missing values in DataFrame: 63

In [216]:
df.dropna(inplace=True)

In [218]:

# Load the DataFrame containing the start and end times
#df = pd.read_csv("/content/drive/MyDrive/TAL_FOCUS/Episodes/episodes_TAL/TAL_TAGGED_020040066080099140160.csv",index_col = [0])
#df = df[df["tier_name"] == "words"]
#df = df[df['source'].str.contains(r"^SBC\d+$", regex=True)]
#df['source'].unique()


words_files = []
protoype_label_files = []
wav_files = []



# Get a list of all the wave files in the directory and its subdirectories
#file_list = glob.glob('/content/drive/MyDrive/TAL_FOCUS/Episodes/episodes_TAL/*.wav')

file_list = file_list


# specify your path
path_to_save = "/home/eranbe/dharelg/datasets/whisper_dataset/prototype_dataset/TAL_4prototype_tmpfiles_4creating_dataset/garbage5" 
# check if the directory exists
if not os.path.isdir(path_to_save):
    # if the directory doesn't exist, create it
    os.makedirs(path_to_save)



# Iterate over the list of wave files
for i,file_wave in enumerate(file_list):
    
    print(file_wave)
    
    

    
    # Open the MP3 file using PyDub
    audio = AudioSegment.from_file(file_wave, format="mp3") 
    file_mp = file_wave
    file_wave_tmp = path_to_save + file_mp.split("/")[-1].split(".")[0]
    file_wave = file_wave_tmp +f"_{i}.wav"

    audio.export(file_wave, format="wav")
    

    
    
    
    with wave.open(file_wave, 'rb') as f:
        # Get the wave file properties
        nchannels = f.getnchannels()
        sampwidth = f.getsampwidth()
        framerate = f.getframerate()
        nframes = f.getnframes()
        # Iterate over the groups in the DataFrame
        
    
    
    turn_df_name = file_mp.split("/")[-1].split(".")[-2]
    
    
    turn_df = df[df['source'] == float(turn_df_name)]

    
    for turn_id, group in turn_df.groupby('past_split_id'):
        # Get the start and end times for this group
        
        
        start_time = group['xmin'].iloc[0]
        end_time = group['xmax'].iloc[-1]
        
        # Calculate the start and end frame indices
        start_frame = int(start_time * framerate)
        end_frame = int(end_time * framerate)

        

        
        # Crop the wave file
        
     
        wav_file = path_to_save+'/wav/'+str(int(turn_id))+'.wav'
        wav_folder = path_to_save+'/wav/'
        
        
        # check if the directory exists
        if not os.path.isdir(wav_folder):
            # if the directory doesn't exist, create it
            os.makedirs(wav_folder)

        
        
        
        
        
        with wave.open(wav_file, 'wb') as f_out:
            f_out.setparams((nchannels, sampwidth, framerate, end_frame - start_frame, 'NONE', 'not compressed'))
            with contextlib.closing(wave.open(file_wave, 'rb')) as f_in:
                f_in.setpos(start_frame)
                f_out.writeframes(f_in.readframes(end_frame - start_frame))
        
        
        
        
        
        
        
        boolean_folder = path_to_save+'/boolean/'
        protoype_label_file = path_to_save+'/boolean/'+str(turn_id)+'.txt'
        # check if the directory exists
        if not os.path.isdir(boolean_folder):
            # if the directory doesn't exist, create it
            os.makedirs(boolean_folder)

        
       
        with open(protoype_label_file, 'w') as f:
          f.write((group['label'].apply(lambda x: ''.join(str(x))).to_string()))

        
        
        
        
        
                
        
        word_folder = path_to_save+'/words/'
        word_file = path_to_save+"/words/"+str(turn_id)+".txt"
        
        # check if the directory exists
        if not os.path.isdir(word_folder):
            # if the directory doesn't exist, create it
            os.makedirs(word_folder)
            
            
        
        with open(word_file, 'w') as f:
          f.write((group['words'].apply(lambda x: ''.join(str(x))).to_string())) 
        
        
        words_files.append(word_file)
        protoype_label_files.append(protoype_label_file)
        wav_files.append(wav_file)

/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/1.mp3
/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/5.mp3
/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/21.mp3
/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/22.mp3
/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/40.mp3
/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/66.mp3
/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/80.mp3
/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/99.mp3
/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/140.mp3
/home/eranbe/dharelg/datasets/this_american_life/audio_wo_music_dataset/160.mp3

In [73]:
""" focus only
import pickle

with open('/home/eranbe/dharelg/datasets/whisper_dataset/notebooks_for_processing_data4prototype_and_focus_tal_alona/pickle_step1/zip_path_tal_poc_focus_only_include21.pkl', 'wb') as f:
    pickle.dump(zip(words_files,wav_files,protoype_label_files), f) 
"""

In [219]:
import pickle

with open('/home/eranbe/dharelg/datasets/whisper_dataset/notebooks_for_processing_data4prototype_and_focus_tal_alona/pickle_step1/zip_path_tal_poc_segprotfoca_include21.pkl', 'wb') as f:
    pickle.dump(zip(words_files,wav_files,protoype_label_files), f)